
/*
* Mixin to trigger breakpoints in JavaScript
*
* Use with https://github.com/14islands/js-breakpoints
*/
@mixin define-breakpoint($name) {
	// store active breakpoint name in ::pseudo content
	&:after {
		content: $name;
		display: none;
	}

	// add fallback style using breakpoint name
	.js-breakpoints-#{$name} {
		position: absolute;
	}
}

